@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #030712;
    --loader-color: blue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #030712;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}


.navigation a {
    margin: 0 1.5rem;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


.loader {
    border-bottom-color: transparent;
    border-top-color: var(--loader-color);
    border-right-color: var(--loader-color);
    border-left-color: var(--loader-color);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.hero {
    .hero-title {
        font-size: 4rem;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}