@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f1f1f1;
    --foreground: #030712;
    --secondary: #00000080;
    --skeleton-base: #ebebeb;
    --skeleton-highlight: #f5f5f5;
    --loader-color: blue;
    --chat--toggle--background: var(--background);
    --chat--toggle--hover--background: var(--secondary);
    --chat--toggle--active--background: var(--secondary);
    --chat--toggle--color: var(--secondary);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #030712;
        --foreground: #f5f5f5;
        --secondary: #f5f5f580;
        --skeleton-base: #202020;
        --skeleton-highlight: #444;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}


.navigation a {
    margin: 0 1.5rem;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.loader {
    border-bottom-color: transparent;
    border-top-color: var(--loader-color);
    border-right-color: var(--loader-color);
    border-left-color: var(--loader-color);
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}


.hi-title{
    display: block;
    user-select: none;
    animation: hi-sticker 1s linear infinite;
    -webkit-animation: hi-sticker 1s ease-in-out infinite;
}

.chat-window-toggle{
    border: 1px solid var(--foreground);
    &:hover{
        background: var(--foreground);
        color: var(--background);
    }
}

@keyframes hi-sticker {
    0%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(15deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
